<p>UUID is <%= @company.uuid %></p>
<p>Business name is <%= @company.name %></p>
<!-- <p>Business users:</p>
    <ul>
    < @company.users.each do |u| >
    <li>
      < u.name >
    </li>
    < end >
<br>
<p>User profile needs</p>
    <ul>
    < @company.users.each do |u| >
    <li>
      < u.profile.need >
    </li>
    < end > -->