<section>
  <p>To get started, create your business or organization</p>
</section>

<aside>
  <div class="hero">
    <div id="biz-form">
      <form action="/biz" method="post">
        <label for="biz_name">Enter business name:</label>
        <input type="text" name="biz_name" name="biz_name" placeholder="My Great Company, LLC." required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</aside>