<div class="sidebar">
  <p>To get started, create your business or organization.</p>
</div>

<div class="homepage-grid">
  <div class="homepage-form">
    <form class="basic-form" action="/biz" method="post">
      <label for="biz_name"><strong>Create your business or organization.</strong> It's easy!</label>
      <br>
      <label for="biz_name">Enter business name:</label>
      <input type="text" name="biz_name" name="biz_name" placeholder="My Great Company, LLC." required>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="homepage-form">
    <form class="basic-form" action="/biz/retrieve" method="get">
      <label for="uuid"><strong>Already created a business?</strong> Enter Unique ID:</label>
      <input type="text" name="uuid" placeholder="3eaca621-0455-413a-b36b-63c8f1cfbfc3" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>