<!DOCTYPE html>
<html lang='en'>
<head>
  <title>EZ Persona - User Persona Creator</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <header>
    <nav>
      <div id="logo">
        <h1><a href="/">EZ Persona</a></h1>
        <h2><em>A <strong>Simple</strong> & <strong>Free</strong> User Persona Creator</em></h2>
      </div>
      <div>
        <a href="#">How It Works</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </div>
    </nav>
  </header>

  <% if session[:success] %>
    <div class="flash success">
    <!-- Deletes and returns hash value -->
    <p><%= session.delete(:success) %></p>
    </div>
  <% end %>

  <% if session[:error] %>
    <div class="flash error">
      <!-- Deletes and returns hash value -->
      <p><%= session.delete(:error) %></p>
    </div>
  <% end %>

  <main>
    <%== yield %>
  </main>

  <footer>
    <p>&copy; 2024 EZ Persona</p>
  </footer>
</body>
</html>
