body {
  background-color: #989dd1;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

.biz_name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  padding-left: 15px;
  padding-right: 150px;
}

.sidebar {
  position: fixed;
  background-color: #989dd1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 310px;
  padding-top: 100px;
  padding-left: 35px;
}

main {
  gap: 20px;
  padding-left: 355px;
  padding-right: 20px;
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  main {
    padding-top: 450px;
  }
  
  .sidebar {
    padding-top: 125px; 
  }
}

@media (max-width: 1000px) {
  main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }

  .sidebar {
    position: relative;
    margin-left: -30px;
    height: 195px;
    width: 100%;
  }

  .homepage-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding-left: 25px;
    padding-right: 50px;
  } 
}  

footer {
  color: #fff;
  background-color: #515BAE;
  text-align: center;
  position: fixed;
  padding-top: 8px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  z-index: 2;
}

.basic-form {
  color: black;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2; 
}

.flash p {
  font-size: 14px;
  font-weight: bold; 
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF; 
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5; 
}
